__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.spl
*.tmp
*.bak
data/raw/
results/**/*.joblib
results/**/*.dat
results/**/*.avi
results/**/*.cdf
results/**/*block*.csv
